@tailwind base;
@tailwind components;
@tailwind utilities;

table {
    border: 1px solid green;
    /* width: 100%; */
}

th {
    background-color: gray;
}

tr {
    border: 1px solid orange;
}

td {
    border: 1px solid pink;
}